/*Header*/
.header-navbar {
  margin-top: auto;
  margin-bottom: auto;
}

.header-navbar-list {
  font-weight: 600;
  display: flex;
}

.header-navbar-list li {
  align-items: center;
  margin-right: 20px;
}

.header-navbar a:hover {
  color: var(--icon-hover);
}

.header-navbar-list i {
  font-size: 10px;
}

.header-title {
  margin-right: 60px;
  margin-left: 40px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

.header-title__name {
  font-family: 'Ms Madi', cursive;
  font-size: 50px;
}

.header-search {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.header-search-entire {
  margin-right: 25px;
}

.header-search-entire li {
  cursor: pointer;
}

.header-search li:hover {
  color: var(--icon-hover);
}

.header-search-entire__text {
  height: 30px;
  margin-right: 5px;
  border-style: ridge;
  margin-top: -4px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding-left: 10px;
  width: 200px;
  outline: none;
  /*bam vao khong hien boder*/
}

.header-search-button li {
  margin-right: 20px;
  cursor: pointer;
}


/*Slider*/
/* Slideshow container */
.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--background-header);
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 6px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(240, 227, 235, 0.8);
}

/* Caption text */
.text {
  color: var(--text-slider);
  font-size: 20px;
  padding: 100px 100px;
  position: absolute;
  bottom: 90px;
  width: 100%;
  text-align: left;
  font-family: var(--font-family);
  text-shadow: 0.1em 0.1em 0.2em rgba(235, 240, 247, 0.925);

}

.headertext {
  color: var(--text-header);
  font-size: 70px;
  padding: 100px 100px;
  position: absolute;
  bottom: 180px;
  text-shadow: 0.1em 0.1em 0.2em rgba(23, 27, 32, 0.445);
}

.headertext-slider1,
.text-slider1 {
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em rgba(2, 3, 3, 0.678);
}

.headertext-slider1 {
  bottom: 130px;
}

.text-slider3 {
  bottom: 30px;
  line-height: 2;

}

.shop-collection {
  cursor: pointer;
  background-color: var(--button-color);
  width: 200px;
  height: 35px;
  border: 0px;
  color: #ffffff;
  font-size: 18px;
}

.shop-collection:hover {
  background-color: #f5a56394;
}

.shop-collection i {
  font-size: 15px;
}

/* The dots/bullets/indicators */
.button-dot {
  position: absolute;
  top: 95%;
  left: 0px;
  right: 0px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--button-next);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active,
.dot:hover {
  background-color: var(--icon-text);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4
  }

  to {
    opacity: 1
  }
}


/*Category*/
.category-general {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.category-frames {
  height: 100px;
  width: 300px;
  border: 1px solid rgba(52, 53, 52, 0.255);
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #88888880;
  /*hieu ung do bong*/
  display: flex;

}

.category-frames:hover {
  box-shadow: inset 2px 2px 2px #88888880;

}

.category-frames i {
  font-size: 45px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 30px;
  color: var(--icon-text);
}

.category-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.category-text__header {
  margin: 0;
}

.category-text__des {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
}


/*Product*/
.header-product {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 20px;
}

.header-product__text {
  color: var(--icon-text);
  line-height: .6;
}

.header-product__button-frames {
  width: 30px;
  height: 30px;
  background-color: var(--button-next);
  cursor: pointer;
  text-align: center;
  color: #fff;
  padding-top: 7px;
}

.header-product__button-frames:hover {
  background-color: var(--text-slider);
}

.product__items {
  width: 120px;
  height: 120px;
  margin: auto;
  background-color: #fff;

}

.header-product__img {
  display: flex;
}

.header-product__img-sale {
  width: 30%;
  height: 500px;
  position: relative;
}

.header-product__img-sale img {
  height: 470px;
  width: 312px;
}

.product__number-sale {
  width: 85px;
  height: 85px;
  background-color: #348101a1;
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;

  margin-left: 15px;
  font-size: 30px;
  color: #fff;
  padding-top: 25px;
  border: 1px solid var(--green-text);
  font-weight: 700;
}

.product__number-des {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 70%;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em rgba(5, 8, 12, 0.589);
}

.product__number-des h5,
h6 {
  padding: 0;
  margin: 0;
  padding-right: 5px;
}

.product__number-sale__text {
  margin-left: 20px;
  margin-top: 20px;
}

.product__number-sale-title {
  font-size: 18px;
  font-weight: 400;
}

.product__number-sale-des {
  display: flex;
  font-size: 25px;
}

.product__number-sale-des1 {
  font-weight: 400;
}

.product__number-sale-des2 {
  font-weight: 700;
}

.header-product__img-items {
  margin-left: 30px;
}

.product-sale__item {
  width: 100%;
}

.product-item__plant {
  width: 200px;
  border: 1px solid var(--background-header);
  box-shadow: 1px 1px 1px 1px rgba(226, 122, 24, 0.637);
  /*hieu ung do bong*/

  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;

}

.product-item__plant:hover {
  box-shadow: inset 2px 2px 2px rgba(218, 180, 144, 0.837);
}

.product-item__up,
.product-item__down {
  height: 250px;
  display: flex;
  justify-content: space-between;
}

.product-item__back {
  position: relative;
  height: 100px;
}

 .header-product__img-items .product-item__img-plant {
  height: 135px;
}
.product-item__img-plant { 
  margin-bottom: 10px;
  height: 200px;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
}
#popular .product-item__img-plant:hover,
#product .product-item__img-plant:hover {
-webkit-transform:scale(0.8); /*Webkit: Thu nhỏ kích thước ảnh còn 0.8 so với ảnh gốc*/
-moz-transform:scale(0.8); /*Thu nhỏ đối với Mozilla*/
-o-transform:scale(0.8); /*Thu nhỏ đối với Opera*/
-webkit-transition-duration: 0.5s; /*Webkit: Thời gian phóng to, nhỏ ảnh*/
-moz-transition-duration: 0.5s; /*Như trên*/
-o-transition-duration: 0.5s; /*Như trên*/
opacity: 0.9; /*Độ mờ của hình ảnh*/
margin: 0 10px 5px 0; /*căn đều giữa ảnh*/
}

.product-item__plant-name {
  padding-left: 20px;
  padding-right: 20px;
  color: var(--green-text);
}

.product-item__plant-evaluate {
  padding-left: 20px;
  padding-right: 20px;
  bottom: 10px;
  position: absolute;
  bottom: 35px;
}

.product-item__plant-evaluate i {
  font-size: 13px;
  color: rgb(230, 230, 19);
}

.product-item__plant-money {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.product-item__back span {
  background-color: #ddd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
  right: 0;
  position: absolute;
  bottom: 0;
  margin-right: 5px;
}

.product-item__back span:hover {
  background-color: rgb(194, 191, 191);
}

.product-item__plant-money h5 {
  padding: 0;
  margin: 0;
}

.product-reduce {
  font-weight: 600;
  text-decoration: line-through;
}

.money__item {
  font-size: 17px;
  color: var(--green-text);
}

/* product info */
.product-info {
  position: relative;
  margin-top: 80px;
}

.product-info img {
  width: 100%;
}

.product-info__text {
  position: absolute;
  top: 10%;
  padding-left: 70px;
  text-shadow: 0.1em 0.1em 0.2em rgba(28, 30, 32, 0.589);
  color: #fff;

}

.product-info__text h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.product-info__title {
  color: var(--green-text);
  text-shadow: 0.1em 0.1em 0.2em rgba(224, 253, 228, 0.959);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.product-info__title-main {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}

.product-info__header {
  font-size: 50px;
  margin-bottom: 25px;
}

.product-info__des {
  width: 90%;
  margin-bottom: 25px;
}

.product-info__button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.01);
  width: 170px;
  height: 35px;
  border: 2px solid var(--button-color);
  color: #ffffff;
  font-size: 18px;
  border-radius: 4px;
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.559);

}

.product-info__button:hover {
  background-color: #f5a56394;
}

/* Popular */
.popular-item .product-item__plant {
  margin-left: 0;
  margin-right: 0;
  width: 240px;
  height: 320px;
}

.popular-item {
  display: flex;
  justify-content: space-between;
}
.popular-item .product-item__plant {
  position: relative;
}
.popular-item .popular-time__reduce,
.popular-item .popular-numder__reduce{
height: 20px;
width: 30px;
color: #fff;
background-color: var(--green-text);
position: absolute;
top: -210px;
left: 0;
z-index: 2;
border-radius: 2px;
font-size: 10px;
padding-top: 4px;
}

.popular-item .popular-time__reduce{
  position: absolute;
  height: 30px;
  width: 150px;
color: #fff;
background-color: #34810181;
font-size: 15px;
top: -40px;
left: 43px;
}
.popular-item .popular-time__reduce:hover{
background-color: #34810181;

}
.product-item__money-reduce{
  text-decoration :line-through;
  padding-right: 40px;
}
/* Blog */
.blog-item {
  display: flex;
  justify-content: space-between;
}
.blog-item .product-item__plant {
  margin-left: 0;
  margin-right: 0;
  width: 340px;
  height: 400px;
}

.blog-item {
  display: flex;
  justify-content: space-between;
}
.blog-item .product-item__plant {
  position: relative;
}
.blog-item__time{
padding-left: 20px;
padding-right: 20px;
color: rgba(19, 153, 7, 0.671);
margin-bottom: 15px;
}
.blog-item__des{
padding-left: 20px;
padding-right: 20px;
}
/* Voucher */
.voucher-gene {
  display: flex;
  justify-content: center;
}

.voucher-plant {
  height: 260px;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  width: 28%;
  margin-left: -100px;
}

.voucher-info {
  width: 520px;
  margin-left: -80px;
}
.voucher-info__frames{
  border: 2px solid var(--green-text);
  padding-left: 30px;
  margin-top: 17%;
  padding-bottom: 25px;
}
.voucher-title {
  padding-bottom: 20px;
  display: flex;
  color: var(--green-text);
  font-size: 30px;
  justify-content: center;
}

.voucher-title1 {
  font-weight: 400;
  padding-right: 10px;
}

.voucher-title2 {
  padding-right: 10px;
}

.voucher-title3 {
  font-weight: 400;
}

.voucher-des {
  text-align: center;
  padding-right: 20px;
  padding-bottom: 20px;
}

.voucher-email {
  width: 70%;
  padding-left: 15px;
  margin-right: 15px;
  height: 25px;
  overflow: inherit;
  outline: none;
  border: 1px solid var(--green-text);
}
.footer-join__input .shop-collection,
.voucher-gene .shop-collection {
  width: 120px;
  border-radius: 5px;
  height: 30px;
  background-color: var(--green-text);
  font-size: 15px;
}
.footer-join__input .shop-collection:hover,
.voucher-gene .shop-collection:hover {
  opacity: 0.7;
}

/* hr */
.hr-footer{
  border-top: 2px solid rgb(28, 121, 2);
   opacity: .3;
}

/* Footer */
.footer-main h1, h2 {
  margin: 0;
  padding: 0;
}
.footer-main h1 {
  color: var(--green-text);
  font-size: 30px;
 margin-bottom: 15px;
}
.footer-main{
display: flex;
justify-content: space-between;

}

.footer-scrip{
width: 350px;
}
.footer-about__name{
  margin-bottom: 15px;
  font-family: 'Ms Madi', cursive;
  font-size: 40px;
}

.footer-about__des{
margin-bottom: 20px;
}
.footer-join__icon ,
.footer-about__icon{
font-size: 30px;
opacity: .6;
}
.footer-about__icon i {
cursor: pointer;
margin-right: 10px;
}
.footer-about__icon i:hover {
opacity: .4;
}

.footer-join__input{
margin-top: 35px;
display: flex;
flex: 1;
margin-bottom: 40px;
}
 /* Contact */
.override-contact{
  padding-top: 20px;
background-color: black;
opacity: .6;
}
.contact-wide{
width: 300px;
}

.contact-small{
width: 130px;
}

.contact-title{
font-weight: 600;
font-size: 20px;
padding-bottom: 20px;
}

.contact-des{
display: flex;
margin-bottom: 25px;
}

.contact-icon{
height: 50px;
width: 50px;
background-color: var(--green-text);
border-radius: 50%;
font-size: 20px;
text-align: center;
}
.contact-info {
  margin-left: 15px;
  position: relative;
}
.contact-us__header{
font-style: italic;
font-size: 15px;
}

.contact-us__des{
  position: absolute;
  font-size: 14px;
  padding-right: 10px;
  bottom: 0;
  width: 220px;
}
.contact-des i{
  margin-top: 15px;
}
.contact-list__item li{
  padding-top: 20px;

}
.contact-list__time{
  display: flex;
  justify-content: space-between;
}

#contact a {
  color: #fff;
}
